[submodule "Libs/DethsFrameLib-1.0"]
	path = Libs/DethsFrameLib-1.0
	url = https://github.com/moody/DethsFrameLib-1.0.git
[submodule "Libs/DethsBagLib-1.0"]
	path = Libs/DethsBagLib-1.0
	url = https://github.com/moody/DethsBagLib-1.0.git
[submodule "Libs/DethsCmdLib-1.0"]
	path = Libs/DethsCmdLib-1.0
	url = https://github.com/moody/DethsCmdLib-1.0.git
[submodule "Libs/DethsColorLib-1.0"]
	path = Libs/DethsColorLib-1.0
	url = https://github.com/moody/DethsColorLib-1.0.git
[submodule "Libs/DethsTooltipLib-1.0"]
	path = Libs/DethsTooltipLib-1.0
	url = https://github.com/moody/DethsTooltipLib-1.0.git
[submodule "Libs/DethsDBLib-1.0"]
	path = Libs/DethsDBLib-1.0
	url = https://github.com/moody/DethsDBLib-1.0.git
[submodule "Libs/DethsAddonLib-1.0"]
	path = Libs/DethsAddonLib-1.0
	url = https://github.com/moody/DethsAddonLib-1.0.git
