[submodule "Libs/DethsFrameLib"]
	path = Libs/DethsFrameLib
	url = https://github.com/moody/DethsFrameLib.git
[submodule "Libs/DethsBagLib"]
	path = Libs/DethsBagLib
	url = https://github.com/moody/DethsBagLib.git
[submodule "Libs/DethsCmdLib"]
	path = Libs/DethsCmdLib
	url = https://github.com/moody/DethsCmdLib.git
[submodule "Libs/DethsColorLib"]
	path = Libs/DethsColorLib
	url = https://github.com/moody/DethsColorLib.git
[submodule "Libs/DethsTooltipLib"]
	path = Libs/DethsTooltipLib
	url = https://github.com/moody/DethsTooltipLib.git
[submodule "Libs/DethsDBLib"]
	path = Libs/DethsDBLib
	url = https://github.com/moody/DethsDBLib.git
[submodule "Libs/DethsAddonLib"]
	path = Libs/DethsAddonLib
	url = https://github.com/moody/DethsAddonLib.git
[submodule "Libs/DethsLibLoader"]
	path = Libs/DethsLibLoader
	url = https://github.com/moody/DethsLibLoader.git
